<!--
<div class="con">
    <form #formLogin="ngForm" class="form" (ngSubmit)="onSubmit(formLogin)">
        <div class="mb-3">
          <label class="form-label">Nombres</label>
          <input type="text" name="name" class="form-control" id="name" ngModel placeholder="Name">
        </div>
        <div class="mb-3">
          <label class="form-label">Ciudad de Origen</label>
          <input type="text" name="city" class="form-control" id="city" ngModel placeholder="City">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
</div>


<div class="con">
  <input type="search" class="form-control" placeholder="Buscar un registro" name="searcht" [(ngModel)]="searcht">
</div>
-->
<div class="con">
  <form [formGroup]="profileForm" class="form" (ngSubmit)="onSubmitS()" >
      <div class="mb-3">
        <label class="form-label">Nombres</label>
        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name" >
        <span class="badge bg-light text-dark" *ngIf="(controls.name.touched || controls.name.dirty) && controls.name.errors?.required">El campo nombre es Requerido</span>
      </div>
      <div class="mb-3">
        <label class="form-label">Ciudad de Origen</label>
        <input type="text" formControlName="city" class="form-control" id="city" placeholder="City" >
        <span class="badge bg-light text-dark" *ngIf="(controls.city.touched || controls.city.dirty) && controls.city.errors?.required">El campo nombre es Requerido</span>
      </div>
      <button type="submit" [disabled]="!profileForm.valid" class="btn btn-primary">Enviar</button>
    </form>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Ciudad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of usuarios | search: searcht">
      <td>{{ item.name }}</td>
      <td>{{ item.city }}</td>
      <td><button (click)="deleteS(item.id)" class="btn btn-danger">eliminar</button></td>
      <td><button (click)="updateS(item)" class="btn btn-primary">editar</button></td>
    </tr>
  </tbody>
</table>
